/*******************************************************************************
 *                                                                             *
 * ProgressIndicator                                                           *
 *                                                                             *
 ******************************************************************************/



.progress-indicator > .determinate-indicator > .progress {
    -fx-background-color: #1aa2fa;
    -fx-padding: 0.083333em; /* 1px */
}

.progress-indicator > .determinate-indicator  > .progress  > .tick {
    -fx-background-color: chartreuse;
    -fx-background-insets: 0;
    -fx-padding: 4.666667em; /* 8 */
    -fx-shape: "M-0.25,6.083c0.843-0.758,4.583,4.833,5.75,4.833S14.5-1.5,15.917-0.917c1.292,0.532-8.75,17.083-10.5,17.083C3,16.167-1.083,6.833-0.25,6.083z";

}


.progress-indicator > .determinate-indicator  > .progress  > .percentage {
    -fx-font-size: 1.7em; /* 11pt - 1 less than the default font */
    -fx-fill: -fx-text-background-color;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    
}

/*
.progress-indicator > .determinate-indicator  > .progress  > .opacity-circle {
	-fx-fill: #fff8dcf0;
    -fx-stroke: #1aa2faf0;
    -fx-stroke-width: 0.12em;
    -fx-stroke-dash-array: 0.22em;
}
*/
